<!doctype html>
<html lang="en">

  <head>
    <title>sandbox</title>

    <link rel="icon" href="/assets/transparent-favicon.png" />

    <link rel="stylesheet" type="text/css" href="/main.css" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% comment %} <script src="/main.js"></script> {% endcomment %}
  </head>

  {% comment %} <body onload="init()"> {% endcomment %}
  <body>

    <!-- header/navbar -->
    {% comment %} <div id="header">
      <a href="/about" id="name" onmouseenter="onNameHover(this)">Fran Rojo</a>
      <div id="header-menu-wrapper">
        <a href="/about" id="about-header" class="header-menu-item">About</a>
        <a href="/projects" id="work-header" class="header-menu-item">Projects</a>
      </div>
    </div> {% endcomment %}

    <!-- content -->
    {{ content }}
  </body>

</html>
