---
layout: page.liquid
title: index
---

<p>hi! this is my (fran) website where I put some things i've been noodling on</p>

<h1>moons</h1>
<p>sometimes i like working on a different thing every month. i try to time it by working from full moon to full moon</p>

{%- for project in collections.moon reversed -%}
  {% render "moon_documentation.liquid", project: project %}
{%- endfor -%} 

<h1>other things</h1>


{% comment %} {%- for project in collections.project reversed -%}
  {% render "project_item.liquid", project: project %}
{%- endfor -%} {% endcomment %}

